{
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": false,
  "tabs": false,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 160,
  "htmlWhitespaceSensitivity": "ignore"
}
