<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body id="index">
    <header>
      <div class="skewed-top"></div>
      <div class="skewed-top-pattern"></div>

      <div class="content">
        <h1>VINTAGE</h1>
        <div class="pages">
          <a href="#lemon" class="btn-pattern lemon">
            <div class="pattern"></div>
            <p>EVENTS</p>
          </a>
          <a href="#blueberry" class="btn-pattern blueberry">
            <div class="pattern"></div>
            <p>SOCIETIES</p>
          </a>
          <a href="#strawberry" class="btn-pattern strawberry">
            <div class="pattern"></div>
            <p>GROUPS</p>
          </a>
          <a href="#lime" class="btn-pattern lime">
            <div class="pattern"></div>
            <p>SEARCH</p>
          </a>
        </div>
      </div>
    </header>

    <nav><%- include('../partials/nav'); %></nav>

    <main>
      <section id="apple">
        <div data-jarallax data-speed=".5" class="skewed-container jarallax">
          <img class="jarallax-img" src="assets/apples.jpg" alt="apples background image" />
          <div class="content">
            <div class="grid-wrapper">
              <div class="col">
                <p class="verse-small">But the fruit of the spirit is</p>
                <p class="verse">love, joy, peace, longsuffering, gentleness, goodness, faith, meekness, temperance:</p>
                <p class="verse-small">against such there is no law.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="theme">
        <div class="grid-wrapper">
          <div class="col">
            <h2>
              BY THEIR FRUITS
              <br />
              You will know them
            </h2>
            <p>
              Loving our neighbor as ourselves is the second greatest commandment in the Bible (Matt. 22:39, John 13:34-35). Our failure to fulfill this
              commandment causes the problems of war, abuse, racial and political division, discrimination, lawlessness, and chaos pervasive today. These
              problems, in fact, dominate societies, showing that, as humans, we are innately sinful, deceived and selfish.
            </p>
            <a href="theme.html" class="btn-round">Read Full Theme</a>
          </div>
        </div>
      </section>

      <section id="lemon" class="fruit-section">
        <div data-jarallax data-speed=".5" class="skewed-container jarallax">
          <img class="jarallax-img" src="assets/lemons.jpg" alt="lemons background image" />
          <div class="content">
            <h2>EVENTS</h2>
          </div>
        </div>
        <div class="skewed-endcap"></div>

        <div class="grid-wrapper">
          <div class="full-image">
            <img class="img-full" src="assets/events/rush1.jpg" alt="placeholder" />
          </div>
          <div class="half-image">
            <img class="img-full" src="assets/events/rush3.jpg" alt="placeholder" />
          </div>
          <div class="description">
            <div class="pattern-cap">
              <div class="pattern"></div>
              <p>
                SOCIETY RUSH
                <br />
                & INDUCTION
              </p>
            </div>
            <p>
              On August 21 the Freshman Class of 2025 arrived on campus, eager to enter the BJU experience. Enthusiastic students, faculty and staff members
              welcomed them, helped with the move-in process and answered questions. Upon moving into the residence halls, students completed check-in and began
              exploring campus. Opening exercises for the 2021-22 academic year commenced the evening of August 23, followed by two nights of evangelistic
              services and classes on Wednesday. Throughout Welcome Week student organizations and societies introduced themselves to new and returning
              students, recruiting students to participate in campus-wide activities.
            </p>
          </div>
        </div>

        <a href="events.html" class="btn-big">View More Events</a>
      </section>

      <section id="blueberry" class="fruit-section">
        <div data-jarallax data-speed=".5" class="skewed-container jarallax">
          <img class="jarallax-img" src="assets/blueberries.jpg" alt="blueberries background image" />
          <div class="content">
            <h2>SOCIETIES</h2>
          </div>
        </div>
        <div class="skewed-endcap"></div>

        <div class="grid-wrapper">
          <div class="full-image">
            <img class="img-full" src="assets/society1.jpg" alt="Society picture" />
          </div>
          <div class="description">
            <div class="pattern-cap">
              <div class="pattern"></div>
              <p>Societies</p>
            </div>
            <p>
              Society meetings foster valuable relationships, encouraging unity as students strive for a common goal and providing opportunity to develop
              leadership skills. Typical meetings include officer-led singing and a Scriptural challenge as well as various games that grant momentary release
              from academic pressures.
            </p>
            <p>
              As BJU societies compete in sports and the scholastic bowl, they earn points toward the coveted Society of the Year Award. Through outreach
              activities, society members focus on reaching outward with Christ's love even as prayer meetings and outings foster spiritual fellowship. From
              society life, in fact, come friendships that endure long after graduation.
            </p>
            <p>
              Since BJU's founding in 1927, over 30 societies have formed, creating vibrant hubs at the heart of student life. The following timelines span from
              1927 to 2013, recording each men's and women's society founding year.
            </p>
          </div>
          <div class="half-image">
            <img class="img-full" src="assets/society2.jpg" alt="Society picture" />
          </div>
        </div>

        <a href="societies.html" class="btn-big">View Societies</a>
      </section>

      <section id="strawberry" class="fruit-section">
        <div data-jarallax data-speed=".5" class="skewed-container jarallax">
          <img class="jarallax-img" src="assets/strawberrries.jpg" alt="strawberries background image" />
          <div class="content">
            <h2>GROUPS</h2>
          </div>
        </div>
        <div class="skewed-endcap"></div>

        <div class="grid-wrapper">
          <div class="full-image">
            <img class="img-full" src="assets/bruins1.jpg" alt="bruins soccer" />
          </div>
          <div class="half-image">
            <img class="img-full" src="assets/bruins2.jpg" alt="bruins soccer" />
          </div>
          <div class="description">
            <div class="pattern-cap">
              <div class="pattern"></div>
              <p>
                BRUINS
                <br />
                SOCCER
              </p>
            </div>
            <p>
              The men's soccer team completed its best season in program history by winning its first NCCAA DII National Championship since 2016, finishing the
              regular season with a 7-2-2 record. The Bruins ousted Randall University 2-1 in the championship match on Victor Oladipo's 81st minute game
              winning goal, with a combined assist from Charly Gualajara and Jordan Crews. When asked about the resiliency of the team, Oladipo said, "One team,
              one heartbeat. Nothing was going to stop us this year." This special win avenged a heartbreaking double overtime loss to Randall University in the
              previous year's tournament. The Bruins had shut out Trinity Baptist College in the NCCAA South Region tournament win, claiming both regional and
              national titles for the first time in school history.
            </p>
          </div>
        </div>

        <a href="groups.html" class="btn-big">View More Groups</a>
      </section>

      <section id="lime" class="fruit-section">
        <div data-jarallax data-speed=".5" class="skewed-container jarallax">
          <img class="jarallax-img" src="assets/limes.jpg" alt="limes background image" />
          <div class="content">
            <h2>SEARCH</h2>
          </div>
        </div>
        <div class="skewed-endcap"></div>

        <div class="grid-wrapper">
          <div class="half-image search">
            <img class="img-full" src="assets/search.jpg" alt="people smiling" />
          </div>
          <div class="description">
            <div class="pattern-cap">
              <div class="pattern"></div>
              <p>
                SEARCH PEOPLE
                <br />
                & GROUPS
              </p>
            </div>
            <p>Search for people in the 2021-2022 yearbook archives.</p>
          </div>
        </div>

        <a href="search.html" class="btn-big">Search Yearbook</a>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

    <script src="https://unpkg.com/jarallax@2.0"></script>
    <script src="js/nav.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
