<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body id="full-theme">
    <nav class="visible"><%- include('../partials/nav'); %></nav>

    <main class="content-page">
      <section id="theme">
        <div class="grid-wrapper">
          <div class="col">
            <a class="goback" href="javascript:history.back()">
              <span class="arrow">‹</span>
              Go Back
            </a>
            <h2>
              BY THEIR FRUITS
              <br />
              You will know them
            </h2>
            <p>
              Loving our neighbor as ourselves is the second greatest commandment in the Bible (Matt. 22:39, John 13:34-35). Our failure to fulfill this
              commandment causes the problems of war, abuse, racial and political division, discrimination, lawlessness, and chaos pervasive today. These
              problems, in fact, dominate societies, showing that, as humans, we are innately sinful, deceived and selfish.
            </p>
            <p>
              Societies make laws to hinderevildoers and curb deviant behavior, yet people continue enacting their selfishness for personal gain, always at cost
              to others. Many utter the same excuse: that system, government, or family is to blame. But placing blame on any one of these fails to recognize
              that human choice and action are the actual problem. By nature, we all are law breakers (Rom. 3:10).
            </p>
            <p>
              The undeniable truth is that laws cannot fix hearts. We cannot legislate that people love their neighbors. The works of the flesh demonstrate the
              evil in mankind's nature (Gal. 5:19-21). Since our flesh inhibits our setting aside prejudice, bias, faulty logic and fear, we need the help of
              Someone greater than ourselves. God sent His Son to be our Deliverer and Savior, to bridge the gap between our sin and His righteousness and to
              provide the way for our redemption (John 14:6, 1 Pet. 3:18, 1 Tim. 2:5). Jesus Christ perfectly kept the law in our place so that we through His
              power might love one another (Isa. 53, Eph. 5:2).
            </p>
            <p>
              The solution to counteracting the works of the flesh—including the lack of love for one's neighbor—is completely different from what man would
              devise. God enumerates the real solution in Galatians 5:22-23. Through guidance by the Holy Spirit and His empowerment to cultivate "love, joy,
              peace, longsuffering, gentleness, goodness, faith, meekness, temperance," we can by God's grace bring healing to our world, one person at a time.
            </p>
            <p>
              Consider these scriptural examples: God's love shown by giving His Son as the ultimate sacrifice (John 3:16), the joy of the shepherds as they
              heard the good news of Jesus' birth (Luke 2), the peace of Shadrach, Meshach and Abednego in the flames of the furnace (Dan. 3), the longsuffering
              of God as He dealt with Israel's rejection and disobedience (Ps. 86:15, 2 Pet. 3:9, Exod. 34:6-7), the gentleness of Christ as He forgave the
              adulteress (John 8), the goodness of David as he cared for Mephibosheth (2 Sam. 20), the faith of Noah as he heeded God's warning and built the
              ark (Heb. 11:7, Gen. 6), the meekness of Abraham as he gave Lot first choice of the land (Gen. 13), and the temperance of Paul as he set an
              example through his disciplined life (1 Cor. 9:25-27).
            </p>
            <p>
              No human law prohibits love or restrains a person from exhibiting fruit of the Spirit. In every city, state or nation, you can lawfully live out
              the fruit of the Spirit, for this fruit causes no offense. By God's grace, we can kindle a loving intolerance for evil in our fallen world and a
              Spirit-directed cultivation of His fruit—for "against such there is no law" (Gal. 5:23).
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>

    <script src="https://unpkg.com/jarallax@2.0"></script>
    <script src="js/nav.js"></script>
  </body>
</html>
