<div class="footer__container">
  <div class="footer__1">
    <h3>Built by the</h3>
    <h2>Vintage Staff</h2>
    <h4>&copy; Copyright 2022 Bob Jones University</h4>
  </div>

  <div class="footer__2">
    <p>Previous Years</p>
    <div class="years__container">
      <a href="http://www.bjuvintage.com/2021/index.html" target="_blank">2021</a>
      <a href="http://www.bjuvintage.com/2020/index.html" target="_blank">2020</a>
      <a href="http://www.bjuvintage.com/2019/index.html" target="_blank">2019</a>
      <a href="http://www.bjuvintage.com/2018/index.html" target="_blank">2018</a>
      <a href="http://www.bjuvintage.com/2017/index.html" target="_blank">2017</a>
      <a href="http://www.bjuvintage.com/2016/index.html" target="_blank">2016</a>
      <a href="http://www.bjuvintage.com/2015/index.html" target="_blank">2015</a>
      <a href="http://www.bjuvintage.com/2014/index.html" target="_blank">2014</a>
    </div>
  </div>
</div>
