<title>Vintage 2022</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Bob Jones University Vintage" />
<meta name="description" content="Bob Jones University's 2022 Class Yearbook." />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
