<div class="bar">
  <div class="logo">
    <a href="/">VINTAGE</a>
  </div>
  <div class="links">
    <a href="events.html">EVENTS</a>
    <a href="societies.html">SOCIETIES</a>
    <a href="groups.html">GROUPS</a>
    <a href="search.html">SEARCH</a>
  </div>
  <div id="hamburger">
    <div class="icon" onclick="toggleMenu()">
      <span class="mdi mdi-menu"></span>
      <span class="mdi mdi-close"></span>
    </div>
  </div>
</div>

<div id="mobile-menu">
  <a href="events.html" class="btn-pattern lemon">
    <div class="pattern"></div>
    <p>EVENTS</p>
  </a>
  <a href="societies.html" class="btn-pattern blueberry">
    <div class="pattern"></div>
    <p>SOCIETIES</p>
  </a>
  <a href="groups.html" class="btn-pattern strawberry">
    <div class="pattern"></div>
    <p>GROUPS</p>
  </a>
  <a href="search.html" class="btn-pattern lime">
    <div class="pattern"></div>
    <p>SEARCH</p>
  </a>
</div>
